{
        "region": "us-east-1",
        "source": "Santa <your.validated@email.com>",
        "subject": "Secret Santa",
        "people": [
                { "name": "Person 1", "email": "person1@example.com" },
                { "name": "Person 2", "email": "person2@example.com" },
                { "name": "Person 3", "email": "person3@example.com" },
                { "name": "Person 4", "email": "person4@example.com" },
                { "name": "Person 5", "email": "person5@example.com" }
        ],
        "message": "Hey, {{from.name}}!\n\nThis year you will give a gift to {{to.name}}. Here are some other important information..."
}
